.vs/Hestia_FireTracker/FileContentIndex/3ab998a1-74eb-4b1e-a16e-1f61a6b11687.vsidx
*.vsidx
*.vsidx
/.vs
.vs/Hestia_FireTracker/FileContentIndex/2e647f90-d527-4362-8e55-7d33c7a59369.vsidx
.vs/Hestia_FireTracker/FileContentIndex/93d24f72-b95b-4f87-9e89-5754b228d5dc.vsidx
/.vs
