.vs/Hestia_FireTracker/FileContentIndex/3ab998a1-74eb-4b1e-a16e-1f61a6b11687.vsidx
*.vsidx
*.vsidx
/.vs
.vs/Hestia_FireTracker/FileContentIndex/2e647f90-d527-4362-8e55-7d33c7a59369.vsidx
.vs/Hestia_FireTracker/FileContentIndex/93d24f72-b95b-4f87-9e89-5754b228d5dc.vsidx
/.vs
.vs/Hestia_FireTracker/FileContentIndex/2e647f90-d527-4362-8e55-7d33c7a59369.vsidx
.vs/Hestia_FireTracker/FileContentIndex/93d24f72-b95b-4f87-9e89-5754b228d5dc.vsidx
.vs/Hestia_FireTracker/FileContentIndex/a89a9657-0bc0-45fa-8159-31d89d8d2c85.vsidx
.vs/Hestia_FireTracker/v17/.wsuo
.vs/Hestia_FireTracker/v17/DocumentLayout.backup.json
.vs/Hestia_FireTracker/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
